<header>
    <div class="line-top"></div>
    <div class="main">
        <div class="row-top">
            <h1>{{#link-to "home" }}<img alt="" src="assets/images/logo.png">{{/link-to}}</h1>
            <nav>
                <ul class="sf-menu">
                    <li>{{#link-to "home" }}Home{{/link-to}}</li>
                    <li>{{#link-to "courses"  (query-params limit=3 skip=0) }}Courses{{/link-to}}</li>
                    <li>{{#link-to "recipes"  (query-params limit=3 skip=0) }}Recipes{{/link-to}}</li>
                    <li>{{#link-to "calendar" }}Calendar{{/link-to}}</li>
                    <li>{{#link-to "chefs"    (query-params limit=3 skip=0) }}Chefs{{/link-to}}</li>
                    <li>{{#link-to "contacts" }}Contacts{{/link-to}}</li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
    {{yield}}
    {{#if visible}}
        <div class="box-slider">
            <div class="flexslider">
                <ul class="slides">
                  {{#each sliders as |slider|}}
                      <li><img alt="" src="{{slider.image.file.url}}"></li>
                  {{/each}}
                </ul>
            </div>
        </div>
        <div class="box-slogan">
            <h3>Welcome to Gourmet cooking school!</h3>

            <p>Different regions of the world not only offer a wide variety of places to see, but many exotic choices for
                food as well. From spider monkeys and iguanas to shark fins, the following infographic outlines
                international cook habits and consumption rates.</p>
        </div>
    {{/if}}
</header>

