<header>
    <div class="line-top"></div>
    <div class="main">
        <div class="row-top">
            <h1><a href="index.html"><img alt="" src="assets/images/logo.png"></a></h1>
            <nav>
                <ul class="sf-menu">
                    <li>{{#link-to "home" }}Home{{/link-to}}</li>
                    <li>{{#link-to "courses" }}Courses{{/link-to}}</li>
                    <li>{{#link-to "recipes" }}Recipes{{/link-to}}</li>
                    <li>{{#link-to "calendar" }}Calendar{{/link-to}}</li>
                    <li>{{#link-to "chefs" }}Chefs{{/link-to}}</li>
                    <li>{{#link-to "contacts" }}Contacts{{/link-to}}</li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
    {{yield}}
</header>

