{{outlet}}
<footer>
    <div class="main">
        <ul class="soc-list">
            <li><a href="#"><img alt="" src="/ember-contentful-delivery-adapter/assets/images/icon-1.png"></a></li>
            <li><a href="#"><img alt="" src="/ember-contentful-delivery-adapter/assets/images/icon-2.png"></a></li>
            <li><a href="#"><img alt="" src="/ember-contentful-delivery-adapter/assets/images/icon-3.png"></a></li>
            <li><a href="#"><img alt="" src="/ember-contentful-delivery-adapter/assets/images/icon-4.png"></a></li>
        </ul>
        <div class="policy">Design by: <a href="http://www.templatemonster.com">TemplateMonster.com</a> </div>
        <div class="clear"></div>
    </div>
</footer>


