{{header-site}}
<section id="content">
    <div class="border-horiz"></div>
    <div class="container_12">
        <article class="grid_12">
            <h3>{{model.title}}</h3>
            <p>{{model.longDescription}}</p>
        </article>
    </div>
    <div class="clear"></div>
</section>
{{outlet}}
